h1{
    padding-top: 4rem;
    text-align: center;
    font-family: arial black;
    color: cornflowerblue;
}

body{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(46,45,53,1) 72%, rgba(58,58,58,1) 100%);
  line-height: 3.5;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  min-width: 10vw;
}

.container {
    display: flex;
    align-items: center; /* Aligns children vertically in the center */
    justify-content: space-between; /* Positions one child on the left and the other on the right */
    height: 0; /* Optional: Adjust according to your layout needs */
  }

  .Maincontent {
    color: aliceblue;
    font-family: Arial;
    max-width: 300px;
    margin: auto;
    overflow-wrap: break-word;
    line-height: 1.5;
    /* Ensure the text is centered within its container */
    text-align: center; /* Center the title text if there's extra space */
    padding-bottom: 2rem;
  }
.sources_title {
    text-align: center;
    color: aliceblue;
    font-family: Arial;
    max-width: 300px;
    margin: auto;
    overflow-wrap: break-word;
    line-height: 1.5;
    padding-bottom:15rem;
    margin-bottom: 4.5rem;
}

.intro_style {
  text-align: center;
  color: aliceblue;
  font-family: Arial;
  max-width: 300px;
  margin: auto;
  overflow-wrap: break-word;
  line-height: 1.5;
  padding-bottom:14rem;
  margin-bottom: 14rem;
}

a {
    padding: 1rem 1.5rem;
    text-align: center;
    margin-top: 4rem;
    background-color: rgb(54, 53, 53);
    color:cornflowerblue;
    text-decoration: none;
    font-family: Arial;
    margin-left: 0.5em;
  }

a:hover {
    text-decoration: underline;
}

a:active {
    color: #a7adb4;
    text-decoration: none;
  }